@implements IDisposable
@inject ICartService _cartService

<a href="Cart" class="btn btn-info">
    <i class="oi oi-cart"></i>&nbsp;Cart
    <span class="badge bg-dark">@cartItemCount</span>
</a>

@code {

    private int cartItemCount = 0;

    protected override void OnInitialized()
    {
        _cartService.OnCartChanged += CartChanged;
    }

    protected void CartChanged(int totalQuantity)
    {
        cartItemCount = totalQuantity;
        StateHasChanged();
    }

    public void Dispose()
    {
        _cartService.OnCartChanged -= CartChanged;
    }

}
