@inherits DisplayDrugsBase

@foreach (var item in Drugs)
{
    <div class="col-md-3 mb-2">
        <a href="#">
            <div class="card">
                <img class="img-thumbnail" src="@item.ImageURL"/>
            </div>
            <div class="card-body">
                <h5 class="card-title mb-3">
                    @item.TradeName
                </h5>
                <p class="card-text">
                    @item.Price.ToString("C")
                </p>
            </div>
        </a>
    </div>
}